body {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: Raleway;
}

/* NAV-BAR */

.nav {
  text-decoration: none;
  transition: all 150ms ease-in-out;
  font-size: 25px;
  padding: 0 10px;
}

.nav,
.social,
.name {
  color: #e6e6e66b;
}

.nav:hover {
  background-color: #f9885e;
  color: black;
  padding: 0 10px;
}

.nav-bar {
  background-color: #000000b6;
  position: fixed;
  width: 100%;
  flex-wrap: wrap;
  text-transform: lowercase;
  left: 0px;
  z-index: 10;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

li {
  list-style-type: none;
  display: inline-block;
}

.home {
  margin-left: 20px;
}

.social {
  text-decoration: none;
  transition: all 150ms ease-in-out;
  margin-top: 25px;
}

.social:hover {
  color: #f9885e;
}

.icons {
  margin-top: 40px;
}

.youtube {
  font-size: 35px;
  margin-right: 20px;
}

.instagram {
  font-size: 35px;
}

.spotify {
  font-size: 35px;
}

.instagram,
.spotify,
.youtube {
  width: 60px;
  height: 60px;
}

.text {
  margin-top: 10px;
}

.name {
  font-size: 40px;
  letter-spacing: 0.2ch;
}

/*  BODY */

img {
  height: inherit;
  width: inherit;
}

.content {
  padding-top: 180px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 150px;
  gap: 5px;
  /*border: 2px solid green; */
  grid-auto-flow: dense;
}

.album {
  /*border: 2px solid blue;*/
  filter: grayscale(1);
  transition: all 150ms ease-in-out;
  border: 2px solid red;
  opacity: 0.4;
  position: relative;
}

.album:hover {
  filter: grayscale(0);
  opacity: 0.9;
}

/* ALBUM NUMBERS */

.one {
  /*grid-column: 1/5;
  grid-row: 1/7; */

  grid-column-end: span 2;
  grid-row-end: span 2;
  /*background-image: url("/media/albums/transition_highres.webp");
  background-size: cover;*/
}

.two {
  background-color: blue;
  grid-column: 1/3;
  grid-row: 4/6;
  /*background-image: url("/media/concert/3rddeclive.jpg");
  background-size: cover;*/
}

.eight {
  grid-column-end: span 2;
  grid-row-end: span 2;
  /*background-image: url("/media/albums/stayhome.jpeg");
  background-size: cover;*/
}

.three {
  grid-column-end: span 1;
  grid-row-end: span 3;
  /*background-image: url("/media/albums/cafe_mv.png");
  background-size: contain;*/
}

.four {
  grid-column-end: span 3;
  grid-row-end: span 2;
  /*background-image: url("/media/concert/concertheading.jpg");
  background-size: cover; */
}
.sixteen {
  background-color: olive;
  grid-column-end: span 2;
  /*background-image: url("/media/promos/prettygoldmv.jpeg");
  background-size: cover;*/
}

.ten {
  /*  background-image: url("/media/albums/cantlive.jpeg");
  background-size: cover;*/
}

.eleven {
  /* background-image: url("/media/albums/why.jpeg");
  background-size: cover;*/
}

.fourteen {
  /* background-image: url("/media/albums/reason_mv2.png");*/
  grid-column-end: span 2;
  /*background-size: cover;*/
}

.fifteen {
  /*  background-image: url("/media/promos/darkspotlight.jpg");
  background-size: cover;*/
  grid-column-end: span 1;
}

.five {
  /*  background-image: url("/media/albums/3rddec.jpeg");
  background-size: cover;*/
}

.six {
  /*  background-image: url("/media/promos/transitionpromo_cut2.png");
  background-size: cover;*/
  grid-row-end: span 3;
}

.seven {
  /* background-image: url("/media/albums/yourimagination.jpeg");
  background-size: cover;*/
}

.nine {
  /* background-image: url("/media/albums/listened_2.png");
  background-size: cover;*/
}

.twelve {
  /* background-image: url("/media/albums/perhaps_mv.png");
  background-size: cover;*/
}

.thirteen {
  /*  background-image: url("/media/albums/d3.png");
  background-size: cover;*/
  grid-row-end: span 1;
}

i {
  color: white;
  font-size: 50px;
}

/* LINKS */

span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 1;
}
