body {
  background-color: black;
  color: lightgray;
}

/* NAVBAR */

.navbar-brand {
  color: red;
  display: flex;
  font-size: 25px;
}

.navbar-brand,
.nav-item,
i {
  font-size: 25px;
}

/* INDEX - HERO */

video {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

@media (max-width: 568px) {
  .navbar-brand {
    margin-left: 0;
  }
}

/* ABOUT */
#about {
  border: 2px solid red;
  padding: 0 40px;
  margin: 0 50px;
  /*background-image: url("/images/promos/darkspotlight.jpg");
  background-size: 1000px;
  height: 700px; */
  position: relative;
  z-index: 10;
}

.content {
  border: 2px solid yellow;
  height: 400px;
  width: 280px;
}

/*#about img {
  border: 2px solid yellow;
  max-width: 100%;
  position: relative;
  z-index: -10;
} */
